				<section style= "margin-top: 40px; background-color: #58585a ">
							<br><br>
				</section>

				<section >
					
					<%= image_tag("casas.jpg",  :class => "img-responsive")%>

				</section>


				<section style=" background-color: #FF434C">
																<br><br>
				</section>










		<section style="  margin-top: 80px;  margin-bottom: 50px;">
	

		<div style=" margin-top: 150px;" class="container">

		<%= image_tag("ventas.jpg",  :class => "img-responsive sombra")%>

		</div>



		<div style="margin-bottom: 200px;  margin-top: 110px;" class="container">

			<div class="row " >       
							<!--  PRIMER ROW -->
				<div  class="col-xs-12 col-sm-12 col-md-4 col-lg-4"> 
															
						<div id="carousel-example-generic4" class="carousel slide" data-ride="carousel">
									  
									

									  <!-- Wrapper for slides -->
									  <div class="carousel-inner" role="listbox">

									          <!-- 1 --><div class="item active">
									      	
											<%= image_tag("casa1/vc1a.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
														
									    </div>

									  <!-- 2 -->  <div class="item">
									      <%= image_tag("casa1/vc2a.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>
									   
									    <!-- 3 -->   <div class="item">
									      <%= image_tag("casa1/vc3a.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>

									  <!-- 4 -->   <div class="item">
									      <%= image_tag("casa1/vc4a.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>

								

									   <!-- 5 -->  <div class="item">
									      <%= image_tag("casa1/vc5a.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>

									       <!-- 6 -->  <div class="item">
									      <%= image_tag("casa1/vc6a.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>


									  <!-- Controls -->
									  <a class="left carousel-control" href="#carousel-example-generic4" role="button" data-slide="prev">
									    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
									    <span class="sr-only">Previous</span>
									  </a>
									  <a class="right carousel-control" href="#carousel-example-generic4" role="button" data-slide="next">
									    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
									    <span class="sr-only">Next</span>
									  </a>

									  <button  style=";width:100%; padding-left: 9px ; font-size:20px; " class="button arrow"><a style="font-size: 25px; font-family: 'Oxygen', sans-serif;color:white"href="https://www.flickr.com/photos/miespaciopropiedades/albums/72157672759833825" target="_blank" >Ver álbum</a></button>
									</div>
						</div>																	
					</div>																								
												    
									<div  style="font-family: 'Oxygen', sans-serif" class="col-xs-12 col-sm-12 col-md-8 col-lg-8 "> 


										<div class="jumbotron" style=" border-style: solid; border-width: 5px; padding-top: 5px; padding-bottom: 20px;border-color: #58585a;">
										
											 

 <h3> <span style=" margin-right: 10px;" class=" glyphicon glyphicon-map-marker" aria-hidden="true"></span> Comuna de Providencia, Santiago.</h3>
											  <h4 style="color: #58585a;font-family: 'Oxygen', sans-serif;" >Junto a Metro P. de Valdivia</h4>


													<h3  style="color:#FF434C"> <span style=" margin-right: 10px;" class="  glyphicon glyphicon-record" aria-hidden="true"></span>Venta: $ 57.000.000 </h3>

													<h4  style="color: #FF434C"> <span style=" margin-right: 10px;" class="  glyphicon glyphicon-record" aria-hidden="true"></span>Superficie Construida: 80 m2 </h4>
													
													<h4  style="color: #FF434C"> <span style=" margin-right: 10px;" class="  glyphicon glyphicon-record" aria-hidden="true"></span>Superficie Total: 140 m2 </h4>
													
													 <h4  style="color: #FF434C"> <span style=" margin-right: 10px;" class="  glyphicon glyphicon-record" aria-hidden="true"></span> Dormitorios: 2 | Baños: 1   </h4>
													
										 		

													

											

												 Estacionamiento interior <span style=" margin-right: 10px;" class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>|
												 
												Cercano a Supermercado y Colegios <span style=" margin-right: 10px;" class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>

												 

											
												<br><br>
												CÓDIGO:  03CMV57
													 				  
										
											
										</div> 



										
													
									</div>

				</div>
			</div>









		<div style="margin-bottom: 50px;  margin-top: 80px;" class="container">

			<div class="row " >       
							<!--  PRIMER ROW -->
				<div  class="col-xs-12 col-sm-12 col-md-4 col-lg-4"> 
															
						<div id="carousel-example-generic467" class="carousel slide" data-ride="carousel">
									  
									

									  <!-- Wrapper for slides -->
									  <div class="carousel-inner" role="listbox">

									          <!-- 1 --><div class="item active">
									      	
											<%= image_tag("casa2/1_14vl.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
														
									    </div>

									  <!-- 2 -->  <div class="item">
									      <%= image_tag("casa2/2_14vl.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>
									   
									    <!-- 3 -->   <div class="item">
									      <%= image_tag("casa2/3_14vl.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>

									  <!-- 4 -->   <div class="item">
									      <%= image_tag("casa2/4_14vl.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>

								

									   <!-- 5 -->  <div class="item">
									      <%= image_tag("casa2/5_14vl.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>

									       <!-- 6 -->  <div class="item">
									      <%= image_tag("casa2/6_14vl.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>

									         <!-- 7 -->  <div class="item">
									      <%= image_tag("casa2/7_14vl.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>


									         <!-- 8 -->  <div class="item">
									      <%= image_tag("casa2/8_14vl.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>

									         <!-- 9 -->  <div class="item">
									      <%= image_tag("casa2/9_14vl.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>

									         <!-- 10 -->  <div class="item">
									      <%= image_tag("casa2/10_14vl.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>

									         <!-- 11 -->  <div class="item">
									      <%= image_tag("casa2/11_14vl.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>

									         <!-- 12 -->  <div class="item">
									      <%= image_tag("casa2/12_14vl.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>

									         <!-- 13 -->  <div class="item">
									      <%= image_tag("casa2/13_14vl.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>

									         <!-- 14 -->  <div class="item">
									      <%= image_tag("casa2/14_14vl.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>

									         <!-- 15 -->  <div class="item">
									      <%= image_tag("casa2/15_14vl.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>



									  <!-- Controls -->
									  <a class="left carousel-control" href="#carousel-example-generic467" role="button" data-slide="prev">
									    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
									    <span class="sr-only">Previous</span>
									  </a>
									  <a class="right carousel-control" href="#carousel-example-generic467" role="button" data-slide="next">
									    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
									    <span class="sr-only">Next</span>
									  </a>

									  <button  style=";width:100%; padding-left: 9px ; font-size:20px; " class="button arrow"><a style="font-size: 25px; font-family: 'Oxygen', sans-serif;color:white"href="https://www.flickr.com/photos/miespaciopropiedades/albums/72157671275466354" target="_blank" >Ver álbum</a></button>
									</div>
						</div>																	
					</div>																								
												    
									<div  style="font-family: 'Oxygen', sans-serif" class="col-xs-12 col-sm-12 col-md-8 col-lg-8 "> 


										<div class="jumbotron" style=" border-style: solid; border-width: 5px; padding-top: 5px; padding-bottom: 20px;border-color: #58585a;">
										
											 

 <h3> <span style=" margin-right: 10px;" class=" glyphicon glyphicon-map-marker" aria-hidden="true"></span> Comuna de Providencia, Santiago.</h3>
											  <h4 style="color: #58585a;font-family: 'Oxygen', sans-serif;" >Junto a Metro P. de Valdivia</h4>


													<h3  style="color:#FF434C"> <span style=" margin-right: 10px;" class="  glyphicon glyphicon-record" aria-hidden="true"></span>Venta: $ 580.000.000 </h3>

													<h4  style="color: #FF434C"> <span style=" margin-right: 10px;" class="  glyphicon glyphicon-record" aria-hidden="true"></span>Superficie Construida: 440 m2 </h4>
													
													<h4  style="color: #FF434C"> <span style=" margin-right: 10px;" class="  glyphicon glyphicon-record" aria-hidden="true"></span>Superficie Total:  1100 m2 </h4>
													
													 <h4  style="color: #FF434C"> <span style=" margin-right: 10px;" class="  glyphicon glyphicon-record" aria-hidden="true"></span> Dormitorios: 4 | Baños: 3   </h4>
													
										 		

													

											

												 5 Estacionamientos  <span style=" margin-right: 10px;" class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>|
												 
												Cercano a Supermercado y Colegios <span style=" margin-right: 10px;" class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>

												 

											
												<br><br>
												CÓDIGO:  14CVLD580
													 				  
										
											
										</div> 



										
													
									</div>

				</div>
			</div>

										
													
									</div>

				</div>
			</div>


		



										
													
									</div>

				</div>
			</div>
						
			</section>


		
