				<section style= "margin-top: 40px; background-color: #58585a ">
							<br><br>
				</section>

				<section >
					
					<%= image_tag("departamentos.jpg",  :class => "img-responsive")%>

				</section>


				<section style=" background-color: #FF434C">
																<br><br>
				</section>



				



		<section style="  margin-top: 80px;  margin-bottom: 50px;">
	

		<div class="container">

		<%= image_tag("ventas.jpg",  :class => "img-responsive sombra")%>

		</div>

		<div  style="  margin-top: 80px;" class="container">

			<div class="row " >       
							<!--  PRIMER ROW -->
				<div  class="col-xs-12 col-sm-12 col-md-4 col-lg-4"> 
															
						<div id="carousel-example-generic4" class="carousel slide" data-ride="carousel">
									  
									

									  <!-- Wrapper for slides -->
									  <div class="carousel-inner" role="listbox">

									    <!-- 1 --><div class="item active">
									      	
											<%= image_tag("depto1/vd1a.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
														
									    </div>

									  <!-- 2 -->  <div class="item">
									      <%= image_tag("depto1/vd2a.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>
									   
									    <!-- 3 -->   <div class="item">
									      <%= image_tag("depto1/vd3a.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>

									  <!-- 4 -->   <div class="item">
									      <%= image_tag("depto1/vd4a.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>

								

									   <!-- 6 -->  <div class="item">
									      <%= image_tag("depto1/vd5a.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>

									     <!-- 7 -->  <div class="item">
									      <%= image_tag("depto1/vd6a.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>

									     <!-- 8 -->  <div class="item">
									      <%= image_tag("depto1/vd7a.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>

									     <!-- 9 -->  <div class="item">
									      <%= image_tag("depto1/vd8a.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>

									     <!-- 10 -->  <div class="item">
									      <%= image_tag("depto1/vd9a.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>


									  <!-- Controls -->
									  <a class="left carousel-control" href="#carousel-example-generic4" role="button" data-slide="prev">
									    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
									    <span class="sr-only">Previous</span>
									  </a>
									  <a class="right carousel-control" href="#carousel-example-generic4" role="button" data-slide="next">
									    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
									    <span class="sr-only">Next</span>
									  </a>
										
										<button  style=";width:100%; padding-left: 9px ; font-size:20px; " class="button arrow"><a style="font-size: 25px; font-family: 'Oxygen', sans-serif;color:white" href="https://www.flickr.com/photos/miespaciopropiedades/albums/72157672667473516" target="_blank" >Ver álbum</a></button>

									</div>
						</div>	


					</div>																								
												    
									<div  style="font-family: 'Oxygen', sans-serif" class="col-xs-12 col-sm-12 col-md-8 col-lg-8 "> 


										<div class="jumbotron" style=" border-style: solid; border-width: 5px; padding-top: 5px; padding-bottom: 20px;border-color: #58585a;">
										
											 

											 <h3> <span style=" margin-right: 10px;" class=" glyphicon glyphicon-map-marker" aria-hidden="true"></span> Comuna de Providencia, Santiago.</h3>
											  <h4 style="color: #58585a;font-family: 'Oxygen', sans-serif;" > Junto a Metro P. de Valdivia</h4>
											  
													<h3  style="color:#FF434C"> <span style=" margin-right: 10px;" class="  glyphicon glyphicon-record" aria-hidden="true"></span>Venta: $ 170.000.000 </h3>
													
													<h4  style="color: #FF434C"> <span style=" margin-right: 10px;" class="  glyphicon glyphicon-record" aria-hidden="true"></span>Superficie Total: 142 m2 </h4>


													
													 <h4  style="color: #FF434C"> <span style=" margin-right: 10px;" class="  glyphicon glyphicon-record" aria-hidden="true"></span> Dormitorios: 4 | Baños: 3 | Cocina</h4>

													 <h4  style="color: #FF434C"> <span style=" margin-right: 10px;" class="  glyphicon glyphicon-record" aria-hidden="true"></span>Piso: 5 </h4>
										 		
													 <br>
												Estacionamiento  <span style=" margin-right: 10px;" class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>|
													 
												
												Bodega <span style=" margin-right: 10px;" class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
												<br>
												CÓDIGO: 11DPV170
												
		 										
										
											
										</div> 



										
													
									</div>

				</div>
			</div>

	<div  style="  margin-top: 80px;" class="container">

			<div class="row " >       
							<!--  PRIMER ROW -->
				<div  class="col-xs-12 col-sm-12 col-md-4 col-lg-4"> 
															
						<div id="carousel-example-generic5" class="carousel slide" data-ride="carousel">
									  
									

									  <!-- Wrapper for slides -->
									  <div class="carousel-inner" role="listbox">

									      <!-- 1 --><div class="item active">
									      	
											<%= image_tag("depto2/vd1b.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
														
									    </div>

									  <!-- 2 -->  <div class="item">
									      <%= image_tag("depto2/vd2b.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>
									   
									    <!-- 3 -->   <div class="item">
									      <%= image_tag("depto2/vd3b.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>

									  <!-- 4 -->   <div class="item">
									      <%= image_tag("depto2/vd4b.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>

								

									   <!-- 5 -->  <div class="item">
									      <%= image_tag("depto2/vd5b.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>

									     <!-- 6 -->  <div class="item">
									      <%= image_tag("depto2/vd6b.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>

									     <!-- 7 -->  <div class="item">
									      <%= image_tag("depto2/vd7b.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>


									  <!-- Controls -->
									  <a class="left carousel-control" href="#carousel-example-generic5" role="button" data-slide="prev">
									    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
									    <span class="sr-only">Previous</span>
									  </a>
									  <a class="right carousel-control" href="#carousel-example-generic5" role="button" data-slide="next">
									    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
									    <span class="sr-only">Next</span>
									  </a>
									  <button  style=";width:100%; padding-left: 9px ; font-size:20px; " class="button arrow"><a style="font-size: 25px; font-family: 'Oxygen', sans-serif;color:white"href="https://www.flickr.com/photos/miespaciopropiedades/albums/72157672759833825" target="_blank" >Ver álbum</a></button>

									</div>
						</div>																	
					</div>																								
												    
									<div  style="font-family: 'Oxygen', sans-serif" class="col-xs-12 col-sm-12 col-md-8 col-lg-8 "> 


										<div class="jumbotron" style=" border-style: solid; border-width: 5px; padding-top: 5px; padding-bottom: 20px;border-color: #58585a;">
										
											 
												<h3> <span style=" margin-right: 10px;" class=" glyphicon glyphicon-map-marker" aria-hidden="true"></span> Comuna de Santiago Centro, Stgo.</h3>
											  <h4 style="color: #58585a;font-family: 'Oxygen', sans-serif;" > Junto a Metro Moneda</h4>
											  
													<h3  style="color:#FF434C"> <span style=" margin-right: 10px;" class="  glyphicon glyphicon-record" aria-hidden="true"></span>Venta: $ 67.000.000 </h3>
													
													<h4  style="color: #FF434C"> <span style=" margin-right: 10px;" class="  glyphicon glyphicon-record" aria-hidden="true"></span>Superficie Total: 52 m2 </h4>


													
													 <h4  style="color: #FF434C"> <span style=" margin-right: 10px;" class="  glyphicon glyphicon-record" aria-hidden="true"></span> Dormitorios: 2 | Baños: 1 | Cocina Americana | Sala de Estar </h4>

													 <h4  style="color: #FF434C"> <span style=" margin-right: 10px;" class="  glyphicon glyphicon-record" aria-hidden="true"></span>Piso: 20 </h4>
										 		

												Estacionamiento  <span style=" margin-right: 10px;" class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>|
													 

												Lavandería <span style=" margin-right: 10px;" class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>|

												 Salón de Eventos <span style=" margin-right: 10px;" class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
												 

												 <br>

																						
												
												Piscina <span style=" margin-right: 10px;" class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>|

												Quincho <span  class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>	|


												Bodega <span style=" margin-right: 10px;" class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>|
												
		 										Lavandería <span  class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>    |		
		 										Sala de Estar <span  class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>	
		 										<br><br> 
		 										CÓDIGO: 09DSCV67  
										
											
										</div> 



										
													
									</div>

				</div>
			</div>


		<div  style="  margin-top: 80px;" class="container">

			<div class="row " >       
							<!--  PRIMER ROW -->
				<div  class="col-xs-12 col-sm-12 col-md-4 col-lg-4"> 
															
						<div id="carousel-example-generic6" class="carousel slide" data-ride="carousel">
									  
									

									  <!-- Wrapper for slides -->
									  <div class="carousel-inner" role="listbox">
      									
      									<!-- 1 --><div class="item active">
									      	
											<%= image_tag("depto3/vd1c.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
														
									    </div>

									  <!-- 2 -->  <div class="item">
									      <%= image_tag("depto3/vd2c.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>
									   
									    <!-- 3 -->   <div class="item">
									      <%= image_tag("depto3/vd3c.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>

									  <!-- 4 -->   <div class="item">
									      <%= image_tag("depto3/vd4c.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>

								

									 
									     <!-- 6 -->  <div class="item">
									      <%= image_tag("depto3/vd6c.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>

									     <!-- 7 -->  <div class="item">
									      <%= image_tag("depto3/vd7c.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>

									     <!-- 8 -->  <div class="item">
									      <%= image_tag("depto3/vd8c.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>

									     <!-- 9 -->  <div class="item">
									      <%= image_tag("depto3/vd9c.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>

									     <!-- 10 -->  <div class="item">
									      <%= image_tag("depto3/vd10c.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>

									       <!-- 11 -->  <div class="item">
									      <%= image_tag("depto3/vd11c.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>

									       <!-- 12 -->  <div class="item">
									      <%= image_tag("depto3/vd12c.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>

									       


									  <!-- Controls -->
									  <a class="left carousel-control" href="#carousel-example-generic6" role="button" data-slide="prev">
									    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
									    <span class="sr-only">Previous</span>
									  </a>
									  <a class="right carousel-control" href="#carousel-example-generic6" role="button" data-slide="next">
									    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
									    <span class="sr-only">Next</span>
									  </a>

									  	<button  style=";width:100%; padding-left: 9px ; font-size:20px; " class="button arrow"><a style="font-size: 25px; font-family: 'Oxygen', sans-serif;color:white"href="https://www.flickr.com/photos/miespaciopropiedades/albums/72157672759833825" target="_blank" >Ver álbum</a></button>
									</div>
						</div>																	
					</div>																								
												    
									<div  style="font-family: 'Oxygen', sans-serif" class="col-xs-12 col-sm-12 col-md-8 col-lg-8 "> 


										<div class="jumbotron" style=" border-style: solid; border-width: 5px; padding-top: 5px; padding-bottom: 20px;border-color: #58585a;">
										
											 

											 <h3> <span style=" margin-right: 10px;" class=" glyphicon glyphicon-map-marker" aria-hidden="true"></span> Comuna Las Condes Centro, Stgo.</h3>
											  <h4 style="color: #58585a;font-family: 'Oxygen', sans-serif;" > Junto a Vespucio</h4>
											  
													<h3  style="color:#FF434C"> <span style=" margin-right: 10px;" class="  glyphicon glyphicon-record" aria-hidden="true"></span> Venta: $ 210.000.000 </h3>
													
													<h4  style="color: #FF434C"> <span style=" margin-right: 10px;" class="  glyphicon glyphicon-record" aria-hidden="true"></span>Superficie Total: 130 m2 </h4>


													
													 <h4  style="color: #FF434C"> <span style=" margin-right: 10px;" class="  glyphicon glyphicon-record" aria-hidden="true"></span> Dormitorios: 3 | Baños: 3 | Cocina  | Living | Comedor  </h4>

													 <h4  style="color: #FF434C"> <span style=" margin-right: 10px;" class="  glyphicon glyphicon-record" aria-hidden="true"></span>Piso: 20 </h4>
										 		

												Estacionamiento  <span style=" margin-right: 10px;" class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>|
												Bodega <span style=" margin-right: 10px;" class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>|
												
												Piscina <span style=" margin-right: 10px;" class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>|
												Gimnasio <span style=" margin-right: 10px;" class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>|

												Lavandería <span style=" margin-right: 10px;" class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span><br>

												 Salón de Eventos <span style=" margin-right: 10px;" class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
												 

												 

																						
												
												Piscina <span style=" margin-right: 10px;" class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>|

												Quincho <span  class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>	|


												Bodega <span style=" margin-right: 10px;" class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>|
												
		 										Lavandería <span  class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>    |		
		 										Sala de Estar <span  class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>	
		 										<br><br> 
		 										CÓDIGO: 08DLCV210 


										
													
									</div>

				</div>
			</div>

			<div  style="  margin-top: 80px;" class="container">

			<div class="row " >       
							<!--  PRIMER ROW -->
				<div  class="col-xs-12 col-sm-12 col-md-4 col-lg-4"> 
															
						<div id="carousel-example-generic7" class="carousel slide" data-ride="carousel">
									  
									

									  <!-- Wrapper for slides -->
									  <div class="carousel-inner" role="listbox">

									      <!-- 1 --><div class="item active">
									      	
											<%= image_tag("depto4/vd1e.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
														
									    </div>

									  <!-- 2 -->  <div class="item">
									      <%= image_tag("depto1/vd2a.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>
									   
									    <!-- 3 -->   <div class="item">
									      <%= image_tag("depto4/vd3e.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>

									  <!-- 4 -->   <div class="item">
									      <%= image_tag("depto4/vd4e.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>

									      <!-- 5 -->   <div class="item">
									      <%= image_tag("depto4/vd5e.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>

								

									   <!-- 6 -->  <div class="item">
									      <%= image_tag("depto4/vd6e.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>

									     

									  <!-- Controls -->
									  <a class="left carousel-control" href="#carousel-example-generic7" role="button" data-slide="prev">
									    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
									    <span class="sr-only">Previous</span>
									  </a>
									  <a class="right carousel-control" href="#carousel-example-generic7" role="button" data-slide="next">
									    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
									    <span class="sr-only">Next</span>
									  </a>
									  	<button  style=";width:100%; padding-left: 9px ; font-size:20px; " class="button arrow"><a style="font-size: 25px; font-family: 'Oxygen', sans-serif;color:white"href="https://www.flickr.com/photos/miespaciopropiedades/albums/72157672759833825" target="_blank" >Ver álbum</a></button>

									</div>
						</div>																	
					</div>																								
												    
									<div  style="font-family: 'Oxygen', sans-serif" class="col-xs-12 col-sm-12 col-md-8 col-lg-8 "> 


										<div class="jumbotron" style=" border-style: solid; border-width: 5px; padding-top: 5px; padding-bottom: 20px;border-color: #58585a;">
										
											 

											 <h3> <span style=" margin-right: 10px;" class=" glyphicon glyphicon-map-marker" aria-hidden="true"></span> San Martín, Viña del Mar.</h3>
											  
													<h3  style="color:#FF434C"> <span style=" margin-right: 10px;" class="  glyphicon glyphicon-record" aria-hidden="true"></span>Venta: $ $115.000.000 </h3>
													
													<h4  style="color: #FF434C"> <span style=" margin-right: 10px;" class="  glyphicon glyphicon-record" aria-hidden="true"></span>Superficie Total: 55 m2 </h4>
													
													 <h4  style="color: #FF434C"> <span style=" margin-right: 10px;" class="  glyphicon glyphicon-record" aria-hidden="true"></span> Dormitorios: 2 | Baños: 2 </h4>
										 		
													 <br><br>
												Living - Comedor  <span style=" margin-right: 10px;" class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>|
													 

												Terraza <span style=" margin-right: 10px;" class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>|

												 Cocina <span style=" margin-right: 10px;" class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>

												 <br><br> 
		 										CÓDIGO: 05DVMV115 
												 

												 
											
										</div> 



										
													
									</div>

				</div>
			</div>

				
				<div class="container" style="margin-top:80px">

					<%= image_tag("arriendos.jpg",  :class => "img-responsive sombra")%>

				</div>	

				<div  style="  margin-top: 80px;" class="container">

			<div class="row " >       
							<!--  PRIMER ROW -->
				<div  class="col-xs-12 col-sm-12 col-md-4 col-lg-4"> 
															
						<div id="carousel-example-generic512" class="carousel slide" data-ride="carousel">
									  
									

									  <!-- Wrapper for slides -->
									  <div class="carousel-inner" role="listbox">

									      <!-- 1 --><div class="item active">
									      	
											<%= image_tag("depto6/1_15DVP390.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
														
									    </div>

									  <!-- 2 -->  <div class="item">
									      <%= image_tag("depto6/2_15DVP390.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>
									   
									    <!-- 3 -->   <div class="item">
									      <%= image_tag("depto6/3_15DVP390.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>

									  <!-- 4 -->   <div class="item">
									      <%= image_tag("depto6/4_15DVP390.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>

								

									   <!-- 5 -->  <div class="item">
									      <%= image_tag("depto6/5_15DVP390.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>

									     <!-- 6 -->  <div class="item">
									      <%= image_tag("depto6/9_15DVP390.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>

									     <!-- 7 -->  <div class="item">
									      <%= image_tag("depto6/7_15DVP390.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>

									     <!-- 7 -->  <div class="item">
									      <%= image_tag("depto6/8_15DVP390.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>

									      <!-- 7 -->  <div class="item">
									      <%= image_tag("depto6/10_15DVP390.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>




									  <!-- Controls -->
									  <a class="left carousel-control" href="#carousel-example-generic512" role="button" data-slide="prev">
									    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
									    <span class="sr-only">Previous</span>
									  </a>
									  <a class="right carousel-control" href="#carousel-example-generic512" role="button" data-slide="next">
									    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
									    <span class="sr-only">Next</span>
									  </a>
									  <button  style=";width:100%; padding-left: 9px ; font-size:20px; " class="button arrow"><a style="font-size: 25px; font-family: 'Oxygen', sans-serif;color:white"href="https://www.flickr.com/photos/miespaciopropiedades/albums/72157673496083601" target="_blank" >Ver álbum</a></button>

									</div>
						</div>																	
					</div>																								
												    
									<div  style="font-family: 'Oxygen', sans-serif" class="col-xs-12 col-sm-12 col-md-8 col-lg-8 "> 


										<div class="jumbotron" style=" border-style: solid; border-width: 5px; padding-top: 5px; padding-bottom: 20px;border-color: #58585a;">
										
											 
												<h3> <span style=" margin-right: 10px;" class=" glyphicon glyphicon-map-marker" aria-hidden="true"></span> Comuna de Providencia, Stgo.</h3>
											  <h4 style="color: #58585a;font-family: 'Oxygen', sans-serif;" > Junto a Metro Manuel Montt</h4>
											  
													<h3  style="color:#FF434C"> <span style=" margin-right: 10px;" class="  glyphicon glyphicon-record" aria-hidden="true"></span>Arriendo: 390.000 </h3>
													
													<h4  style="color: #FF434C"> <span style=" margin-right: 10px;" class="  glyphicon glyphicon-record" aria-hidden="true"></span>Superficie Total: 45 m2 </h4>


													
													 <h4  style="color: #FF434C"> <span style=" margin-right: 10px;" class="  glyphicon glyphicon-record" aria-hidden="true"></span> Dormitorios: 1 | Baños: 1 | Cocina Americana | Estacionamiento | Bodega </h4>

												

												Estacionamiento  <span style=" margin-right: 10px;" class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>|
													 

												Lavandería <span style=" margin-right: 10px;" class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>|

												 Salón de Eventos <span style=" margin-right: 10px;" class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
												 

												 <br>

																						
												
												Piscina <span style=" margin-right: 10px;" class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>|

												Quincho <span  class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>	|


												Bodega <span style=" margin-right: 10px;" class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>|
												
		 										Lavandería <span  class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>    |		
		 										Sala de Estar <span  class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>	
		 										<br><br> 
		 										CÓDIGO: 15DVP390
										
											
										</div> 



										
													
									</div>

				</div>
			</div>

				<div  style="  margin-top: 80px;" class="container">

			<div class="row " >       
							<!--  PRIMER ROW -->
				<div  class="col-xs-12 col-sm-12 col-md-4 col-lg-4"> 
															
						<div id="carousel-example-generic8" class="carousel slide" data-ride="carousel">
									  
									

									  <!-- Wrapper for slides -->
									  <div class="carousel-inner" role="listbox">

									   <!-- 1 --><div class="item active">
									      	
											<%= image_tag("depto5/ad1f.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
														
									    </div>

									  <!-- 2 -->  <div class="item">
									      <%= image_tag("depto5/ad2f.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>
									   
									    <!-- 3 -->   <div class="item">
									      <%= image_tag("depto5/ad3f.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>

									  <!-- 4 -->   <div class="item">
									      <%= image_tag("depto5/ad4f.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>

								

									   <!-- 5 -->  <div class="item">
									      <%= image_tag("depto5/ad5f.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>

									     <!-- 6 -->  <div class="item">
									      <%= image_tag("depto5/ad6f.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>

									     <!-- 7 -->  <div class="item">
									      <%= image_tag("depto5/ad7f.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>

									     <!-- 8 -->  <div class="item">
									      <%= image_tag("depto5/ad8f.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>

									     <!-- 9 -->  <div class="item">
									      <%= image_tag("depto5/ad9f.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>

									    <!-- 10 -->  <div class="item">
									      <%= image_tag("depto5/ad10f.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>

									    <!-- 11 -->  <div class="item">
									      <%= image_tag("depto5/ad11f.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>

									    <!-- 12 -->  <div class="item">
									      <%= image_tag("depto5/ad12f.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>


									  <!-- Controls -->
									  <a class="left carousel-control" href="#carousel-example-generic8" role="button" data-slide="prev">
									    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
									    <span class="sr-only">Previous</span>
									  </a>
									  <a class="right carousel-control" href="#carousel-example-generic8" role="button" data-slide="next">
									    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
									    <span class="sr-only">Next</span>
									  </a>

										<button  style=";width:100%; padding-left: 9px ; font-size:20px; " class="button arrow"><a style="font-size: 25px; font-family: 'Oxygen', sans-serif;color:white"href="https://www.flickr.com/photos/miespaciopropiedades/albums/72157672759833825" target="_blank" >Ver álbum</a></button>
									</div>


						</div>																	
					</div>																								
											    
									<div  style="font-family: 'Oxygen', sans-serif" class="col-xs-12 col-sm-12 col-md-8 col-lg-8 "> 


										<div class="jumbotron" style=" border-style: solid; border-width: 5px; padding-top: 5px; padding-bottom: 20px;border-color: #58585a;">
										
											 

											 <h3> <span style=" margin-right: 10px;" class=" glyphicon glyphicon-map-marker" aria-hidden="true"></span> Comuna de Providencia, Stgo.</h3>

											 </h3>
											  <h4 style="color: #58585a;font-family: 'Oxygen', sans-serif;" > Cercano a Metro Colón</h4>
											  
													<h3  style="color:#FF434C"> <span style=" margin-right: 10px;" class="  glyphicon glyphicon-record" aria-hidden="true"></span>Arriendo: $ 610.000 </h3>
													
													<h4  style="color: #FF434C"> <span style=" margin-right: 10px;" class="  glyphicon glyphicon-record" aria-hidden="true"></span>Superficie Total: 90 m2 </h4>
													
													 <h4  style="color: #FF434C"> <span style=" margin-right: 10px;" class="  glyphicon glyphicon-record" aria-hidden="true"></span> Dormitorios: 3 | Baños: 2 </h4>
										 		
													 <br><br>
												Estacionamiento  <span style=" margin-right: 10px;" class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>|
													 

												Bodega <span style=" margin-right: 10px;" class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>

												

												 <br><br> 
		 										CÓDIGO: 06DPA610 
												 	  
										
											
										</div> 



										
													
									</div>

				</div>
			</div>
						

			
						

			
			</section>


		
