<section style= "margin-top: 40px; background-color: #58585a ">
							<br><br>
				</section>

				<section >
					
					<%= image_tag("oficinas.jpg",  :class => "img-responsive")%>

				</section>


				<section style=" background-color: #FF434C">
																<br><br>
				</section>



				






		
				
				<div class="container" style="margin-top:80px">

					<%= image_tag("arriendos.jpg",  :class => "img-responsive sombra")%>

				</div>	


				<div  style="  margin-top: 80px;" class="container">

			<div class="row " >       
							<!--  PRIMER ROW -->
				<div  class="col-xs-12 col-sm-12 col-md-4 col-lg-4"> 
															
						<div id="carousel-example-generic8" class="carousel slide" data-ride="carousel">
									  
									

									  <!-- Wrapper for slides -->
									  <div class="carousel-inner" role="listbox">

									    <!-- 1 --><div class="item active">
									      	
											<%= image_tag("oficina1/a1.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
														
									    </div>

									  <!-- 2 -->  <div class="item">
									      <%= image_tag("oficina1/a2.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>
									   
									  

									  <!-- 4 -->   <div class="item">
									      <%= image_tag("oficina1/a4.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>

									  <!-- 5-->   <div class="item">
									      <%= image_tag("oficina1/a5.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>

									   <!-- 6 -->  <div class="item">
									      <%= image_tag("oficina1/a6.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>

									   <!-- 7 -->  <div class="item">
									      <%= image_tag("oficina1/a7.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>

									    

									    <!-- 8 --> <div class="item">
									      <%= image_tag("oficina1/a9.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>

									       <!-- 9 --> <div class="item">
									      <%= image_tag("oficina1/a10.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>
									       <!-- 10 --> <div class="item">
									      <%= image_tag("oficina1/a11.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>

									       <!-- 11 --> <div class="item">
									      <%= image_tag("oficina1/a12.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>




									  <!-- Controls -->
									  <a class="left carousel-control" href="#carousel-example-generic8" role="button" data-slide="prev">
									    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
									    <span class="sr-only">Previous</span>
									  </a>
									  <a class="right carousel-control" href="#carousel-example-generic8" role="button" data-slide="next">
									    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
									    <span class="sr-only">Next</span>
									  </a>

									  <button  style=";width:100%; padding-left: 9px ; font-size:20px; " class="button arrow"><a style="font-size: 25px; font-family: 'Oxygen', sans-serif;color:white"href="https://www.flickr.com/photos/miespaciopropiedades/albums/72157672759833825" target="_blank" >Ver álbum</a></button>
									</div>
						</div>																	
					</div>																								
												    
									<div  style="font-family: 'Oxygen', sans-serif" class="col-xs-12 col-sm-12 col-md-8 col-lg-8 "> 


										<div class="jumbotron" style=" border-style: solid; border-width: 5px; padding-top: 5px; padding-bottom: 20px;border-color: #58585a;">
										
											 

											 <h3 style="font-family: 'Oxygen', sans-serif;" > <span style=" margin-right: 10px;" class=" glyphicon glyphicon-map-marker" aria-hidden="true"></span> Comuna de Providencia, Santiago.</h3>
											 <h4 style="color: #58585a;font-family: 'Oxygen', sans-serif;" > Junto a Metro P. de Valdivia</h4>
											  
													<h3  style="color:#FF434C"> <span style=" margin-right: 10px;" class="  glyphicon glyphicon-record" aria-hidden="true"></span>Arriendo: $870.000 </h3>
													
													<h4  style="color: #FF434C"> <span style=" margin-right: 10px;" class="  glyphicon glyphicon-record" aria-hidden="true"></span>Superficie Total: 67 m2 </h4>
													
													<h4  style="color: #FF434C"> <span style=" margin-right: 10px;" class="  glyphicon glyphicon-record" aria-hidden="true"></span>Recepción | Privados: 3 | Baños: 2 | Kitchenette  </h4>

													  <h4  style="color: #FF434C"> <span style=" margin-right: 10px;" class="  glyphicon glyphicon-record" aria-hidden="true"></span> Piso: 7 </h4>

													

													
										 		

										 		
											
													 

												

												
												 

												 <br>

												Distribución de Redes <span style=" margin-right: 10px;" class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>|								
												
												Estacionamiento <span style=" margin-right: 10px;" class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>|

												+1 UF = Bodega<br>

												Iluminación LED <span style=" margin-right: 10px;" class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> | 
												
		 										Aire Acondicionado Frío/Calor<span  class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>

		 										<br><br>
													CÓDIGO: 12OPV870			  
										
												
										</div> 



										
													
									</div>

				</div>
			</div>
						

			<div  style="  margin-top: 80px;" class="container">

			<div class="row " >       
							<!--  PRIMER ROW -->
				<div  class="col-xs-12 col-sm-12 col-md-4 col-lg-4"> 
															
						<div id="carousel-example-generic9" class="carousel slide" data-ride="carousel">
									  
									

									  <!-- Wrapper for slides -->
									  <div class="carousel-inner" role="listbox">

									      <!-- 1 --><div class="item active">
									      	
											<%= image_tag("oficina2/ao1.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
														
									    </div>

									  <!-- 2 -->  <div class="item">
									      <%= image_tag("oficina2/ao2.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>
									   
									    <!-- 3 -->   <div class="item">
									      <%= image_tag("oficina2/ao3.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>

									  <!-- 4 -->   <div class="item">
									      <%= image_tag("oficina2/ao4.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>

									  <!-- 5-->   <div class="item">
									      <%= image_tag("oficina2/ao5.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>

									   <!-- 6 -->  <div class="item">
									      <%= image_tag("oficina2/ao6.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>

									   <!-- 7 -->  <div class="item">
									      <%= image_tag("oficina2/ao7.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>

									    

									    <!-- 8 --> <div class="item">
									      <%= image_tag("oficina2/ao8.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>


									  <!-- Controls -->
									  <a class="left carousel-control" href="#carousel-example-generic9" role="button" data-slide="prev">
									    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
									    <span class="sr-only">Previous</span>
									  </a>
									  <a class="right carousel-control" href="#carousel-example-generic9" role="button" data-slide="next">
									    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
									    <span class="sr-only">Next</span>
									  </a>

									  <button  style=";width:100%; padding-left: 9px ; font-size:20px; " class="button arrow"><a style="font-size: 25px; font-family: 'Oxygen', sans-serif;color:white"href="https://www.flickr.com/photos/miespaciopropiedades/albums/72157672759833825" target="_blank" >Ver álbum</a></button>
									</div>
						</div>																	
					</div>																								
												    
									<div  style="font-family: 'Oxygen', sans-serif" class="col-xs-12 col-sm-12 col-md-8 col-lg-8 "> 


										<div class="jumbotron" style=" border-style: solid; border-width: 5px; padding-top: 5px; padding-bottom: 20px;border-color: #58585a;">
										
											 

										 <h3 style="font-family: 'Oxygen', sans-serif;" > <span style=" margin-right: 10px;" class=" glyphicon glyphicon-map-marker" aria-hidden="true"></span> Comuna de Providencia, Santiago.</h3>

											 <h4 style="color: #58585a;font-family: 'Oxygen', sans-serif;" >Junto a Metro P. de Valdivia</h4>

													<h3  style="color:#FF434C"> <span style=" margin-right: 10px;" class="  glyphicon glyphicon-record" aria-hidden="true"></span>Arriendo: $520.000 </h3>
													
													<h4  style="color: #FF434C"> <span style=" margin-right: 10px;" class="  glyphicon glyphicon-record" aria-hidden="true"></span>Superficie Total: 56 m2 </h4>
													
												
										 		

													 <h4  style="color: #FF434C"> <span style=" margin-right: 10px;" class="  glyphicon glyphicon-record" aria-hidden="true"></span>Recepción | Privados: 3 | Baños: 2 | Kitchenette  </h4>

													  <h4  style="color: #FF434C"> <span style=" margin-right: 10px;" class="  glyphicon glyphicon-record" aria-hidden="true"></span> Piso: 15 </h4>

													

													
										 		

										 		
											
													 

												

												
												 

												 <br>


												 Distribución de Redes <span style=" margin-right: 10px;" class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>|	

												NOAire Acondicionado   <span style=" margin-right: 10px;" class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>|								
												
												NO Calefacción <span style=" margin-right: 10px;" class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>|

												<br> NO Bodega<span style=" margin-right: 10px;" class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>|

												NO Estacionamiento <span style=" margin-right: 10px;" class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>|

												<br><br>

												CÓDIGO: 07OPA520
												
											
										</div> 



										
													
									</div>

				</div>
			</div>
						


		

				<div  style="  margin-top: 80px;" class="container">

			<div class="row " >       
							<!--  PRIMER ROW -->
				<div  class="col-xs-12 col-sm-12 col-md-4 col-lg-4"> 
															
						<div id="carousel-example-generic23" class="carousel slide" data-ride="carousel">
									  
									

									  <!-- Wrapper for slides -->
									  <div class="carousel-inner" role="listbox">

									    <!-- 1 --><div class="item active">
									      	
											<%= image_tag("oficina1/a1.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
														
									    </div>

									  <!-- 2 -->  <div class="item">
									      <%= image_tag("oficina1/a2.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>
									   
									  

									  <!-- 4 -->   <div class="item">
									      <%= image_tag("oficina1/a4.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>

									  <!-- 5-->   <div class="item">
									      <%= image_tag("oficina1/a5.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>

									   <!-- 6 -->  <div class="item">
									      <%= image_tag("oficina1/a6.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>

									   <!-- 7 -->  <div class="item">
									      <%= image_tag("oficina1/a7.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>

									    

									    <!-- 8 --> <div class="item">
									      <%= image_tag("oficina1/a9.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>

									       <!-- 9 --> <div class="item">
									      <%= image_tag("oficina1/a10.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>
									       <!-- 10 --> <div class="item">
									      <%= image_tag("oficina1/a11.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>

									       <!-- 11 --> <div class="item">
									      <%= image_tag("oficina1/a12.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>
									      <!-- 11 --> <div class="item">
									      <%= image_tag("oficina1/a13.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>





									  <!-- Controls -->
									  <a class="left carousel-control" href="#carousel-example-generic23" role="button" data-slide="prev">
									    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
									    <span class="sr-only">Previous</span>
									  </a>
									  <a class="right carousel-control" href="#carousel-example-generic23" role="button" data-slide="next">
									    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
									    <span class="sr-only">Next</span>
									  </a>
									

									</div><button  style=";width:100%; padding-left: 9px ; font-size:20px; " class="button arrow"><a style="font-size: 25px; font-family: 'Oxygen', sans-serif;color:white"href="https://www.flickr.com/photos/miespaciopropiedades/albums/72157672759833825" target="_blank" >Ver álbum</a></button>
						</div>																	
					</div>																								
												    
									<div  style="font-family: 'Oxygen', sans-serif" class="col-xs-12 col-sm-12 col-md-8 col-lg-8 "> 


										<div class="jumbotron" style=" border-style: solid; border-width: 5px; padding-top: 5px; padding-bottom: 20px;border-color: #58585a;">
										
											 

											 <h3 style="font-family: 'Oxygen', sans-serif;" > <span style=" margin-right: 10px;" class=" glyphicon glyphicon-map-marker" aria-hidden="true"></span> Comuna de Providencia, Santiago.</h3>
											 <h4 style="color: #58585a;font-family: 'Oxygen', sans-serif;" > Junto a Metro P. de Valdivia</h4>
											  
													<h3  style="color:#FF434C"> <span style=" margin-right: 10px;" class="  glyphicon glyphicon-record" aria-hidden="true"></span>Arriendo:  $ 1.050.000.000
													 </h3>
													
													<h4  style="color: #FF434C"> <span style=" margin-right: 10px;" class="  glyphicon glyphicon-record" aria-hidden="true"></span>Superficie Total: 67 m2 </h4>
													
													<h4  style="color: #FF434C"> <span style=" margin-right: 10px;" class="  glyphicon glyphicon-record" aria-hidden="true"></span>Recepción | Privados: 3 | Baños: 2 | Kitchenette  </h4>

													  <h4  style="color: #FF434C"> <span style=" margin-right: 10px;" class="  glyphicon glyphicon-record" aria-hidden="true"></span> Piso: 4 </h4>

													

													
										 		

										 		
											
													 

												

												
												 

												 <br>

												Distribución de Redes <span style=" margin-right: 10px;" class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>|								
												
												Estacionamiento <span style=" margin-right: 10px;" class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>|

												+1 UF = Bodega<br>

												Iluminación LED <span style=" margin-right: 10px;" class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> | 
												
		 										Aire Acondicionado Frío/Calor<span  class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>		  
										
												<br><br>
													CÓDIGO: 10OPA1050
										</div> 



										
													
									</div>

				</div>
			</div>


			<div  style="  margin-top: 80px;" class="container">

			<div class="row">

							<!--  PRIMER ROW -->

				<div  class="col-xs-12 col-sm-12 col-md-4 col-lg-4"> 
															
						<div id="carousel-example-generic10" class="carousel slide" data-ride="carousel">
									  
									

									  <!-- Wrapper for slides -->
									  <div class="carousel-inner" role="listbox">

									   	      <!-- 1 --><div class="item active">
									      	
											<%= image_tag("oficina3/ao1c.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
														
									    </div>

									  <!-- 2 -->  <div class="item">
									      <%= image_tag("oficina3/ao2c.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>
									   
									    <!-- 3 -->   <div class="item">
									      <%= image_tag("oficina3/ao3c.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>

									  <!-- 4 -->   <div class="item">
									      <%= image_tag("oficina3/ao4c.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>

								

									   <!-- 6 -->  <div class="item">
									      <%= image_tag("oficina3/ao6c.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>

									   <!-- 7 -->  <div class="item">
									      <%= image_tag("oficina3/ao7c.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>

									    

									    <!-- 8 --> <div class="item">
									      <%= image_tag("oficina3/ao8c.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>

									       <!-- 9 --> <div class="item">
									      <%= image_tag("oficina3/ao9c.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>

									  <!-- Controls -->
									  <a class="left carousel-control" href="#carousel-example-generic10" role="button" data-slide="prev">
									    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
									    <span class="sr-only">Previous</span>
									  </a>
									  <a class="right carousel-control" href="#carousel-example-generic10" role="button" data-slide="next">
									    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
									    <span class="sr-only">Next</span>
									  </a>

									  <button  style=";width:100%; padding-left: 9px ; font-size:20px; " class="button arrow"><a style="font-size: 25px; font-family: 'Oxygen', sans-serif;color:white"href="https://www.flickr.com/photos/miespaciopropiedades/albums/72157672759833825" target="_blank" >Ver álbum</a></button>
									</div>
						</div>																	
					</div>																								
												    
									<div  style="font-family: 'Oxygen', sans-serif" class="col-xs-12 col-sm-12 col-md-8 col-lg-8 "> 


										<div class="jumbotron" style=" border-style: solid; border-width: 5px; padding-top: 5px; padding-bottom: 20px;border-color: #58585a;">
										
											 

											 		<h3> <span style=" margin-right: 10px;" class=" glyphicon glyphicon-map-marker" aria-hidden="true"></span> Comuna de Providencia, Santiago.</h3>
											 		 <h4 style="color: #58585a;font-family: 'Oxygen', sans-serif;" >Junto a Metro P. de Valdivia</h4>
											  
													<h3  style="color:#FF434C"> <span style=" margin-right: 10px;" class="  glyphicon glyphicon-record" aria-hidden="true"></span>Arriendo: $ 1.090.000 </h3>
													
													<h4  style="color: #FF434C"> <span style=" margin-right: 10px;" class="  glyphicon glyphicon-record" aria-hidden="true"></span>Superficie Total:  80 m2 </h4>
													
													  <h4  style="color: #FF434C"> <span style=" margin-right: 10px;" class="  glyphicon glyphicon-record" aria-hidden="true"></span>Recepción | Privados: 2 | Baños: 2 | Kitchenette  </h4>
													  
													 <h4  style="color: #FF434C"> <span style=" margin-right: 10px;" class="  glyphicon glyphicon-record" aria-hidden="true"></span>Piso: 3</h4>

												Estacionamiento  <span style=" margin-right: 10px;" class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>|
													 

												Amoblada<span style=" margin-right: 10px;" class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>|

												 Central Telefónica Multilínea <span style=" margin-right: 10px;" class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
												 

												 <br>

																						
												
												Calefacción / Aire Acondicionado. <span style=" margin-right: 10px;" class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>|


												Bodega <span style=" margin-right: 10px;" class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>|


												
		 										Distribución de redes <span  class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>	

		 										<br><br>CÓDIGO: 02OPA1090	  
										
											
										</div> 



										
													
									</div>




						
								</div>
						</div>



						<div  style="  margin-top: 80px;" class="container">

			<div class="row " >       
							<!--  PRIMER ROW -->
				<div  class="col-xs-12 col-sm-12 col-md-4 col-lg-4"> 
															
						<div id="carousel-example-generic14" class="carousel slide" data-ride="carousel">
									  
									

									  <!-- Wrapper for slides -->
									  <div class="carousel-inner" role="listbox">

									   	      <!-- 1 --><div class="item active">
									      	
											<%= image_tag("oficina4/ao1d.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
														
									    </div>

									  <!-- 2 -->  <div class="item">
									      <%= image_tag("oficina4/ao2d.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>
									   
									    <!-- 3 -->   <div class="item">
									      <%= image_tag("oficina4/ao3d.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>

									  <!-- 4 -->   <div class="item">
									      <%= image_tag("oficina4/ao4d.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>

								

									   <!-- 6 -->  <div class="item">
									      <%= image_tag("oficina4/ao6d.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>

									   

									  <!-- Controls -->
									  <a class="left carousel-control" href="#carousel-example-generic14" role="button" data-slide="prev">
									    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
									    <span class="sr-only">Previous</span>
									  </a>
									  <a class="right carousel-control" href="#carousel-example-generic14" role="button" data-slide="next">
									    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
									    <span class="sr-only">Next</span>
									  </a>
									  	<button  style=";width:100%; padding-left: 9px ; font-size:20px; " class="button arrow"><a style="font-size: 25px; font-family: 'Oxygen', sans-serif;color:white"href="https://www.flickr.com/photos/miespaciopropiedades/albums/72157672759833825" target="_blank" >Ver álbum</a></button>
									</div>
						</div>																	
					</div>																								
												    
									<div  style="font-family: 'Oxygen', sans-serif" class="col-xs-12 col-sm-12 col-md-8 col-lg-8 "> 


										<div class="jumbotron" style=" border-style: solid; border-width: 5px; padding-top: 5px; padding-bottom: 20px;border-color: #58585a;">
										
											 

											 <h3> <span style=" margin-right: 10px;" class=" glyphicon glyphicon-map-marker" aria-hidden="true"></span> Comuna de Providencia, Santiago.</h3>
											  <h4 style="color: #58585a;font-family: 'Oxygen', sans-serif;" >Junto a Metro P. de Valdivia</h4>


													<h3  style="color:#FF434C"> <span style=" margin-right: 10px;" class="  glyphicon glyphicon-record" aria-hidden="true"></span>Arriendo: $ 1.125.000 </h3>
													
													<h4  style="color: #FF434C"> <span style=" margin-right: 10px;" class="  glyphicon glyphicon-record" aria-hidden="true"></span>Superficie Total: 95 m2 </h4>
													
													 <h4  style="color: #FF434C"> <span style=" margin-right: 10px;" class="  glyphicon glyphicon-record" aria-hidden="true"></span>Recepción | Privados: 2 | Baños: 2 | Kitchenette  </h4>
													 <h4  style="color: #FF434C"> <span style=" margin-right: 10px;" class="  glyphicon glyphicon-record" aria-hidden="true"></span>Piso: 2 </h4>
										 		

													

											

												 Distribución de redes <span style=" margin-right: 10px;" class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>|
												 

												 

																						
												
												Calefacción / Aire Acondicionado. <span style=" margin-right: 10px;" class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span><br>

												Estacionamiento: Arriendo +70.000
												<br><br>
												CÓDIGO:  04OPA1125
													 																								
		 												  
										
											
										</div> 



										
													
									</div>


										<div  style="  margin-top: 80px;" class="container">

			<div class="row " >       
							<!--  PRIMER ROW -->
				<div  class="col-xs-12 col-sm-12 col-md-4 col-lg-4"> 
															
						<div id="carousel-example-generic15" class="carousel slide" data-ride="carousel">
									  
									

									  <!-- Wrapper for slides -->
									  <div class="carousel-inner" role="listbox">

									   	      <!-- 1 --><div class="item active">
									      	
											<%= image_tag("oficina5/ao1e.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
														
									    </div>

									  <!-- 2 -->  <div class="item">
									      <%= image_tag("oficina5/ao2e.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>
									   
									    <!-- 3 -->   <div class="item">
									      <%= image_tag("oficina5/ao3e.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>

									  <!-- 4 -->   <div class="item">
									      <%= image_tag("oficina5/ao4e.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>

								

									   <!-- 5 -->  <div class="item">
									      <%= image_tag("oficina5/ao5e.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>

									       <!-- 6 -->  <div class="item">
									      <%= image_tag("oficina5/ao6e.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>

									    	   <!-- 7 -->  <div class="item">
									      <%= image_tag("oficina5/ao7e.jpg",  :class => "img-responsive featurette-image center-block sombra")%>
									      
									    </div>

									   

									  <!-- Controls -->
									  <a class="left carousel-control" href="#carousel-example-generic15" role="button" data-slide="prev">
									    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
									    <span class="sr-only">Previous</span>
									  </a>
									  <a class="right carousel-control" href="#carousel-example-generic15" role="button" data-slide="next">
									    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
									    <span class="sr-only">Next</span>
									  </a>


									</div><button  style=";width:100%; padding-left: 9px ; font-size:20px; " class="button arrow"><a style="font-size: 25px; font-family: 'Oxygen', sans-serif;color:white"href="https://www.flickr.com/photos/miespaciopropiedades/albums/72157672759833825" target="_blank" >Ver álbum</a></button>
						</div>																	
					</div>																								
												    
									<div  style="font-family: 'Oxygen', sans-serif" class="col-xs-12 col-sm-12 col-md-8 col-lg-8 "> 


										<div class="jumbotron" style=" border-style: solid; border-width: 5px; padding-top: 5px; padding-bottom: 20px;border-color: #58585a;">
										
											 

											 <h3> <span style=" margin-right: 10px;" class=" glyphicon glyphicon-map-marker" aria-hidden="true"></span> Comuna de Providencia, Santiago.</h3>
											  <h4 style="color: #58585a;font-family: 'Oxygen', sans-serif;" >Junto a Metro P. de Valdivia</h4>


													<h3  style="color:#FF434C"> <span style=" margin-right: 10px;" class="  glyphicon glyphicon-record" aria-hidden="true"></span>Arriendo: $1.100.000 </h3>
													
													<h4  style="color: #FF434C"> <span style=" margin-right: 10px;" class="  glyphicon glyphicon-record" aria-hidden="true"></span>Superficie Total: 90 m2 </h4>
													
													 <h4  style="color: #FF434C"> <span style=" margin-right: 10px;" class="  glyphicon glyphicon-record" aria-hidden="true"></span>Recepción | Privados: 2 | Baños: 2 | Kitchenette | Área Común  </h4>
													 <h4  style="color: #FF434C"> <span style=" margin-right: 10px;" class="  glyphicon glyphicon-record" aria-hidden="true"></span>Piso: 2 </h4>
													
										 		

													

											

												 Distribución de redes <span style=" margin-right: 10px;" class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>|
												 
										 
												 2 Cupos de Estacionamiento <span style=" margin-right: 10px;" class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span><br>
																						
												
												Calefacción / Aire Acondicionado. <span style=" margin-right: 10px;" class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span><br>

												Ingreso con chapa digital y clave <span style=" margin-right: 10px;" class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>  |

												Incluye mueble de recepción <span style=" margin-right: 10px;" class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span><br>

												<br><br>
												CÓDIGO:  13OPA1100
													 																								
		 												  
										
											
										</div> 



										
													
									</div></div></div>




						
			</div></div>
						
			</section>


		
