


    
               
      	<section>

      	<%= image_tag("santiago223.jpg",   :class =>  "img-responsive") %> 


		</section>

		



   
			<section>
				<center>
					
						<p style="color: #58585a; font-family: 'Oxygen', sans-serif;font-size:45px;margin-top: 50px" >
								¿ Qué Buscas    ?
						</p>
						<p style="color: #58585a; font-family: 'Oxygen', sans-serif;font-size:30px;margin-top: 0px;margin-bottom: 0px;" >
								Selecciona una de las opciones
						</p>



				</center>			
			</section>



			<section >

						<nav id="nav2" style="padding-top: 20px;">
						  <ul id="ul2" >
						
						

						    <li  id="li2">
						      <a  id="a2" href="http://miespaciopropiedades.herokuapp.com/welcome/corretajescasas"> Casas </a>
						    </li >

						    <li  id="li2">
						      <a  id="a2" href="http://miespaciopropiedades.herokuapp.com/welcome/corretajesdeptos">Departamentos</a>
						    </li >
 							
 							<li  id="li2">
						      <a  id="a2" href="http://miespaciopropiedades.herokuapp.com/welcome/corretajesoficinas">	Oficinas </a>
						    </li  >
						  
						    
						    
						  </ul>
						</nav >
		
						

			


			</section>



		<section>
				<center>
					
						<p style="color: #58585a; font-family: 'Oxygen', sans-serif;font-size:45px;margin-top: 50px" >
								Servicios
						</p>
						 	


				</center>			
			</section>









				

			

					


										  


		<section >
		

	

						<div class="row"  style="margin-right: 0px;margin-left: 0px;margin-top: 60px;"">  

									<div  style=" margin-bottom: 50px"  class="col-xs-12 col-sm-6 col-md-6 col-lg-3"> 
									
											<center>
										
														<section>
			
													<div style= "background-color: #FF434C">
																<br>
													</div>

														</section>

												<section style= "background-color: #58585a">
													

												</section>
		          								<h2 style="color: #58585a ; font-family: 'Oxygen', sans-serif;  margin-bottom: 41px;margin-top: 42px"> Corretaje de Propiedades</h2>

		          									<section>
			
													<div style= "background-color: #FF434C">
																<br>
													</div>

														</section>

		          								<h3 style="color: #58585a ;margin-bottom: 80px; margin-top: 80px; font-family: 'Oxygen', sans-serif;"> Gestionamos la Compra/Venta/Arriendo  de su propiedad tanto en zonas urbanas como rurales  </h3>
		          								
		          								<a style=" width:250px; margin-top: 0px;" href="http://miespaciopropiedades.herokuapp.com/welcome/corretajesdeptos" class="btn btn-sm animated-button victoria-one"><p style="font-size:20px;margin-bottom: 0px">Ver Más</p></a> 

													
		          							</center>	

									</div>		



									<div   style=" margin-bottom: 50px"  class="col-xs-12 col-sm-6 col-md-6 col-lg-3"> 
									
											<center>
														

															<section>
			
													<div style= "background-color: #FF434C">
																<br>
													</div>

														</section>

												<section style= "background-color: #58585a">
													

												</section>
		          								<h2 style="color:#58585a ;font-family: 'Oxygen', sans-serif;  margin-bottom: 30px;"> Tasaciones Inmobiliarias y Asesorías Legales</h2>

		          									<section>
			
													<div style= "background-color: #FF434C">
																<br>
													</div>

														</section>


		          								

		          								<h3 style= " color: #58585a;margin-bottom: 80px; margin-top: 80px;  font-family: 'Oxygen', sans-serif;">Orientamos a nuestros clientes en la de adquisición de bienes raíces, posesiones efectivas, sucesiones, estudios de títulos, tasaciones </h3>
		          								
		          								<a style=" width:250px; margin-top: 0px;" href="http://miespaciopropiedades.herokuapp.com/welcome/tasacionesinmob_asesorleg" class="btn btn-sm animated-button victoria-one"><p style="font-size:20px;margin-bottom: 0px">Ver Más</p></a> 

													
		          							</center>	
          							
									</div>		



									<div  style=" margin-bottom: 50px" class="col-xs-12 col-sm-6 col-md-6 col-lg-3"> 
									
											<center>
													<section>
			
													<div style= "background-color: #FF434C">
																<br>
													</div>

														</section>

		          								<h2  style=" color:#58585a ;font-family: 'Oxygen', sans-serif;  margin-bottom: 30px;">Administración de Edificios y Condominios </h2>

		          								<section>
			
													<div style= "background-color: #FF434C">
																<br>
													</div>

														</section>

		          								<h3 style=" color: #58585a ;margin-bottom: 105px; margin-top: 80px; font-family: 'Oxygen', sans-serif;"> Apoyo administrativo y mantención de espacios comunes, comunicación adecuada con los propietarios.</h3>
		          								
		          								<a style=" width:250px; margin-top: 0px;" href="http://miespaciopropiedades.herokuapp.com/welcome/adminprop" class="btn btn-sm animated-button victoria-one"><p style="font-size:20px;margin-bottom: 0px">Ver Más</p></a> 

													
		          							</center>	
          							
									</div>		


										<div   class="col-xs-12 col-sm-6 col-md-6 col-lg-3"> 
									
											<center>

											<section>
			
													<div style= "background-color: #FF434C">
																<br>
													</div>

														</section>

												<h2 style="color:#58585a ;font-family: 'Oxygen', sans-serif;  margin-bottom: 41px;margin-top: 42px"> Diseño y Arquitectura</h2>

												<section>
			
													<div style= "background-color: #FF434C">
																<br>
													</div>

														</section>

		          							

		          								<h3 style="color: #58585a ;margin-bottom: 105px; margin-top: 80px; font-family: 'Oxygen', sans-serif;"> Transformación de espacios interiores a través de proyectos de obra de diseño y decoración interior </h3>
		          								
		          								<a style=" width:250px; margin-top: 0px;" href="http://miespaciopropiedades.herokuapp.com/welcome/disenoarquitec" class="btn btn-sm animated-button victoria-one"><p style="font-size:20px;margin-bottom: 0px">Ver Más</p></a> 

													
		          							</center>	

									</div>		

						</div>

			
	
			
			

</section>
	





				



		


				<section>
									<%= image_tag("separador2.png",  :class => "img-responsive ")%>
				</section>









									<section>
									<!-- Slider 2 -->
												
												 <%= render :partial => 'shared/sliderventas' %> 

												
									<!-- CIERRE Slider 2 -->
									</section>



			


				<section>
									<!-- Slider 2 -->
												
												 <%= render :partial => 'shared/sliderarriendos' %> 

												
									<!-- CIERRE Slider 2 -->
									</section>






			
			


			<section>

				<div class="container">


							<div class="row featurette" style="margin-top: 80px;margin-bottom: 50px;">


							       



									<div class="hidden-xs hidden-sm  col-md-5 col-lg-5">

										          <%= image_tag("Nubepalabras2.png",  :class => "img-responsive")%>

									</div>


									 <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">

									          <h2 style=" font-family: 'Oxygen', sans-serif; font-size: 50px;" class="featurette-heading >Confíenos su Propiedad <span class="text-muted" style="color:#FF434C">Atención personalizada y Profesional.</span></h2>

									          <p style=" font-family: 'Oxygen', sans-serif;" class="lead">Entregamos una atención personalizada y profesional, ayudamos a concretar sus decisiones, te informamos cada proceso que se lleva a cabo así entregamos confianza, eficiencia y rapidez en sus solicitudes. Contamos con un equipo especializado y profesional que entrega resultados y seguridad.   </p>

							        </div>
							</div>
			   		</div>

	</section>

		
			<section>

				<br><br><br>
				<%= image_tag("eso2.png" ,   :class =>  "img-responsive ") %>

			</section>
		